

body {
  	font-size: 15px;
  	color: #777777;
  	background-color: white;
}

header {
	height: 50px;
	width: 960px;
	border-bottom: 1px solid #CCC;
	position: relative;
	top: 0;
}

.name {
	font-family: serif;
	font-size: 30px;
	background: #4aaaa5;
	color: white;
	text-align: center;
	margin-left: 50px;
	padding: 10px;
	float:left;
	display: inline;
	position: absolute;
}

.nav-bar { 
	/*padding-right: 10px; */
	margin-top: 30px;
	/*margin-right: 100px;*/
	/*margin-left: 300px;*/
	width: 200px; 
	font-size: 16px;
	font-family: arial;
	float: right;
}

.nav-bar a {
	color: #777777;
	text-decoration: none;
}

.bio-area {
	background-image: url("../images/paper.png");
	height: 100%
	width: 960px;
	/*clear: both;*/
	overflow: auto;
}

#about-me {
	background-color: white;
	height: 100%;
	width: 480px;
	margin-top: 20px;
	margin-left: 40px;
	padding-right: 2px;
	padding-left: 10px;
	font-size: 16px;
	float: left;
}

#Johnny {
	height: 200px;
	width: 200px;
	margin-right: 10px;
	float: left;
}

#connect-area {
	height: 150px;
	width: 270px;
	background-color: white;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}

#githublink {
	height: 50px;
	width: 50px;
	margin-left: 40px;
}

#linkedinlink {
	height: 50px;
	width: 50px;
}

#stackoverflowlink {
	height: 50px;
	width: 50px;
}

h1 {    
   	border-bottom: 3px solid #CCC;
    float: left;
    width: 100%;
    padding-bottom: 1px;
    color: #4aaaa5;
}

h2 {    
   	border-bottom: 3px solid #CCC;
    float: left;
    width: 180px;
    margin-left: 40px;
    margin-right: 20px;
    padding-bottom: 1px;
    color: #4aaaa5;
}

.footer {
  	padding-top: 1rem;
  	padding-bottom: 1rem;
	/*height: 0.5rem;*/
	height: 20px;
	/*width: 960px;*/
	width: 960px;
	font-size: 10px;
  	background: #666666;
  	text-align: center;
  	border-top: 5px solid #4aaaa5;
  	position: absolute;
  	bottom: 0;
}






