

body {
  font-size: 15px;
  color: #777777;
  background-color: white;
}

header {
	height: 50px;
	width: 960px;
	margin-top: 10px;
}

.name {
	font-family: Times;
	font-size: 20px;
	background: #4aaaa5;
	color: white;
	text-align: center;
	margin-top: 17px;
	margin-left: 40px;
	padding: 5px;
	/*height: 34px;*/
	/*width: 150px;*/
	float:left;
	display: inline;
	/*position: absolute;*/
}

.menu-header { 
	padding-right: 10px; 
	margin-top: 30px;
	margin-right: 100px;
	margin-left: 300px;
	width: 300px; 
	float: left;
}

.menu-header ul { 
	padding: 0; 
	margin:0; 
	list-style: none; 
	border: 0;
	float:right;
}

#about {
	float: right;  
	margin: 0; 
	padding-right: 10px;
	padding-left: 10px;  
	text-decoration: none; 
	border-right: 1px solid #777777;
}

#portfolio {
	float: right;  
	margin: 0; 
	padding-right: 10px;
	padding-left: 10px;  
	text-decoration: none; 
	border-right: 1px solid #777777;
}

#contact {
	float: right;  
	margin: 0; 
	padding-right: 10px;
	padding-left: 10px;  
	text-decoration: none; 
	border-right: none;
}

.bio-area {
	border-top: 1px solid #777777;
	background-image: url("../images/paper.png");
	height: 100%;
	/*width: 960px;*/
	width: 100%;
	overflow: auto;
}

#about-me {
	background-color: white;
	height: 100%;
	width: 480px;
	margin-top: 20px;
	margin-left: 40px;
	padding-right: 2px;
	padding-left: 10px;
	font-size: 16px;
	float: left;
}

#Johnny {
	height: 200px;
	width: 200px;
	margin-right: 10px;
	float: left;
}

#connect-area {
	height: 150px;
	width: 260px;
	background-color: white;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}

#githublink {
	height: 50px;
	width: 50px;
	margin-left: 40px;
}

#linkedinlink {
	height: 50px;
	width: 50px;
}

#stackoverflowlink {
	height: 50px;
	width: 50px;
}

h1 {    
   	border-bottom: 3px solid #CCC;
    float: left;
    width: 100%;
    padding-bottom: 1px;
    color: #4aaaa5;
}

h2 {    
   	border-bottom: 3px solid #CCC;
    float: left;
    width: 180px;
    margin-left: 40px;
    margin-right: 20px;
    padding-bottom: 1px;
    color: #4aaaa5;
}

.footer {
  	padding-top: 1rem;
  	padding-bottom: 1rem;
	/*height: 0.5rem;*/
	height: 20px;
	/*width: 960px;*/
	width: 100%;
	font-size: 10px;
  	background: #666666;
  	text-align: center;
  	border-top: 5px solid #4aaaa5;
  	position: absolute;
}






